/* Base styling for all elements */
body {
    font-family: Arial, sans-serif;
    color: #333;
}

.TableHeader {
    font-weight: bold;
    text-align: left;
}

.TableCell {
    font-weight: normal;
}

.NothingFound {
    font-weight: bold;
    color: #ff9100;
    text-align: center;
    padding-top: 50px;
}

.MainContainer { 
    display: "flex";
    flex-direction: "column";
    gap: "16px";
    width: "1000px";
    margin: "auto" 
}
